/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style */
body {
    font-family: 'Poppins', sans-serif;
}


/* animation */
@keyframes changeWidth {
    from {
        transform: scale(0.4) rotate(0deg);
    }

    to {
        transform: scale(1.2) rotate(360deg);
    }
}

nav:hover .banner-img {

    animation: changeWidth 5s ease-in 0s infinite alternate;
}

/* header nav menu style */

nav {
    background-color: #2D25A0;
    height: 680px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    margin-left: 60px;
    padding-top: 42px;
}

ul {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}

ul li {
    list-style: none;
    margin-right: 36px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    background-color: #E02C6D;
    padding: 5px 5px;
    border-radius: 5px;
    transition: .5s;
}

.login-btn {
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 5px;
}

.login-btn a {
    text-decoration: none;
    color: white;
}

/* header banner section style */

.banner-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1100px;
    margin-top: 50px;
}

.banner-details {
    margin-left: 156px;
}

.banner-details h1 {
    font-size: 64px;
    width: 485px;
    font-weight: 700;
    color: white;
}

.banner-details a {
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    border-radius: 5px;
}

.banner-img {
    margin-left: 100px;
}

.banner-img img {
    width: 556px;
    height: 438px;
}

/* players section style */

.all-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    margin: 70px 210px 70px 180px;
}

.player-details {
    border: 2px solid white;
    border-radius: 5px;
    -moz-box-shadow: 10px 10px 5px #222;
    -webkit-box-shadow: 10px 10px 5px #222;
    box-shadow: 5px 10px 10px 5px rgb(212, 209, 209);
    padding: 15px;
}

.player-details img {
    width: 100%;
    height: 256px;
}

.player-details img:hover {
    transform: scale(1.1);
    transition: transform 3s ease-in-out;
}

.player-details h2 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: -10px;
}

.player-details p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}


/* highlight section styles */

.all-highlights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 180px;
    margin-right: 210px;
}

.highlight-details {
    margin-right: 66px;
    margin-top: 155px;
}

.highlight-details h1 {
    font-size: 40px;
    font-weight: 700;
}

.highlight-details p {
    font-size: 16px;
    font-weight: normal;
    color: #6C6C6C;
    text-align: justify;
    margin-top: -20px;
}

.highlight-details a {
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    border-radius: 5px;
}

.higlight-banner {
    margin-top: 95px;
}

.higlight-banner img {
    width: 490px;
    height: 427px;
    border-radius: 8px;
}

.higlight-banner img:hover {
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
}